* {
    padding: 0;
    margin: 0;
}
body{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 37, 37);
    color: #fff;
    line-height: 25px;
    width: 100%;
}
.main-container{
    padding: 40px 30px;
    width: 95%;
}
.biography{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}
.bio-header{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}
.bio-header div{
    padding: 20px 20px;
}
.name{
    width: 50%;
}
.name h4{
    color: rgb(83, 207, 238);
}
.infos{
    display: flex;
    padding: 0;
    width: 30%;
}
.infos ul{
    list-style: none;
}
.infos ul li a{
    text-decoration: none;
    color: rgb(83, 207, 238);
}
.labels{
    text-align: right;
}
.bio-footer{
    padding: 0 20px;
    width: 100%;
}
.resume-info{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.right-box{
    display: flex;
    flex-direction: column;
    width: 65%;
    
}
.left-box{
    width: 28%;
    padding:20px 20px;
}
.main-box{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.title, .sub-title{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.title{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}
.title-icon{
  margin-right: 10px;
  color: white;
  border-radius: 2px;
  padding: 4px 6px;
}
.icon{
    margin-right: 10px;
}
.blue i{
    color: rgb(0, 225, 255);
}
.green-bg{
    background-color: greenyellow;
}
.blue-bg{
    background-color:rgb(0, 225, 255) ;
}
.green i{
    color: greenyellow;
}
.fa{
    color: #fff;
    font-size: 1.3em;
}
.subtitle-header{
    line-height: 10px;
}
.subtitle-header span{
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.5);
}
.date{
    margin-left: auto;
    font-size: 1.1em;
}
.content{
    margin: 15px 0;
}
.content p{
    font-size: 0.8em;
}
.programming-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.programming-skills h3{
    margin-bottom: 20px;
}
.skill{
    width: 100%;
    margin-bottom: 10px;
}
.out-bar{
    width: 90%;
    border: 2px solid gray;
}
.inner-bar{
    background-color: rgb(233, 86, 86);
    text-align: center;
}
.graphic-skills{
    margin-bottom: 20px;
}
.graphic-skills h3{
    margin-bottom: 20px;
}
.color-box{
    display: inline-block;
    background-color: yellowgreen;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
.graphic-skills div:nth-child(2) p span{
    background-color: red;
}
.graphic-skills div:nth-child(3) p span{
    background-color: rgb(251, 255, 0);
}
.graphic-skills div:nth-child(4) p span{
    background-color: rgb(255, 0, 149);
}
.graphic-skills div:nth-child(6) p span{
    background-color: rgb(0, 26, 255);
}
.languages-skills h3{
        margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .right-box{
        width: 100%;
        border-top: 2px solid rgb(170, 166, 166);
        padding: 20px 0;
        order: 2;
    }
    .left-box{
        width: 100%;
        order: 1;
    }
    .picture{
        display: none;
    }
    .infos{
        width: 100%;
    }
    .bio-header{
        display: flex;
        flex-direction: column;
    }
  }



